<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <!-- Hipervinculo a CSS ####################################################################-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/P1Css/Css2.css' %}">
    <!-- Invocar Bootstrap #####################################################################-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Invocar JQUERY ########################################################################-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <a name="inicio"></a>
    <div id="banner">
        <a href="{% url 'home' %}">
            <h1>Inicio</h1>
        </a>
    </div>

    <!-- API ###################################################################################-->
    <div id="api">
        <div class="container">
            <div class="row mb-12">
                <h3>
                    <center>Ultimos Productos incorporados a Jardinería</center>
                </h3>
            </div>
            <br>
            <!--
            <div class="row mb-12">
                <button type="button" class="btn btn-primary" id="enviar">Traer Datos desde API</button>
            </div>
            -->
            <div class="row mb-12">
                <table class="table table-bordered" id="categorias">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Imagen</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="tabla">
                <div>
                    <table id="tablaPulenta">
                    </table>
                </div>
            </div>
        </div>
        <!-- SCRIPT SEPARADOR ##################################################################-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
        </script>
    </div>

    <!--###########################################################################################
    ###############################################################################################
    ############################################################################################-->

    {% load humanize %}
    <div id="productos">
        {% for p in productos %}
        <div class="prodasd">
            <div class="row">
                <div class="col-md-12">
                    <div id="tierra1">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    {% if p.imagen %}
                                    <img src="{{ p.imagen.url }}" class="img-fluid rounded-start"
                                        alt="Producto Destacado">
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">{{ p.nombre | capfirst }}</h3>
                                        <p class="card-text">{{ p.especie | title }}</p>
                                        <p class="card-text">{{ p.fecha_entrada | capfirst }}</p>
                                        <p class="card-text">{{ p.descripcion | capfirst }}</p>
                                        <p class="card-text"><small class="text-muted">${{ p.precio | intcomma }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>                
            </div>
        </div><br>
        {% endfor %}
    </div>

    <!--###########################################################################################
    ###############################################################################################
    ############################################################################################-->

    <!--
        <div class="row">
            <div class="col-md-6">
            </div>
            
            <div class="col-md-6">
            </div>
        </div>
    -->

    <div id="productos">

        <!-- ARBUSTOS ##############################################################################-->
        <div class="arbusto">
            <a name="arbusto"></a>

            <div class="row">
                <div class="col-md-6">
                    <div id="arbusto1">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'app/P1Img/A1.jpg' %}" class="img-fluid rounded-start"
                                        alt="Arbusto 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Arbusto 1</h3>
                                        <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit.
                                            Possimus, reiciendis deserunt!
                                            Magni magnam similique ex nobis debitis autem obcaecati quaerat sapiente?
                                            Veritatis
                                            saepe nam
                                            exercitationem aliquid? Commodi dolores tempora natus facere soluta eum
                                            quisquam
                                            unde
                                            iste
                                            obcaecati, ullam modi in. Enim quam numquam omnis nam minus sequi pariatur
                                            laboriosam?
                                            Doloribus
                                            nemo obcaecati totam soluta. Atque, officia ipsa nesciunt in corporis
                                            exercitationem
                                            dolorum
                                            accusantium explicabo ea autem repellendus earum vero qui dolor nostrum
                                            aperiam
                                            saepe
                                            provident
                                            quaerat esse nam, expedita veritatis cumque totam. Qui vitae neque,
                                            perferendis
                                            iure
                                            dolorum quos
                                            numquam earum blanditiis exercitationem sunt recusandae in. Odit similique a
                                            consequatur?</p>
                                        <p class="card-text"><small class="text-muted">Precio $20000</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div id="arbusto2">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'app/P1Img/A2.jpg' %}" class="img-fluid rounded-start"
                                        alt="Arbusto 2">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Arbusto 2</h3>
                                        <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit.
                                            Possimus, reiciendis deserunt!
                                            Magni magnam similique ex nobis debitis autem obcaecati quaerat sapiente?
                                            Veritatis
                                            saepe nam
                                            exercitationem aliquid? Commodi dolores tempora natus facere soluta eum
                                            quisquam
                                            unde
                                            iste
                                            obcaecati, ullam modi in. Enim quam numquam omnis nam minus sequi pariatur
                                            laboriosam?
                                            Doloribus
                                            nemo obcaecati totam soluta. Atque, officia ipsa nesciunt in corporis
                                            exercitationem
                                            dolorum
                                            accusantium explicabo ea autem repellendus earum vero qui dolor nostrum
                                            aperiam
                                            saepe
                                            provident
                                            quaerat esse nam, expedita veritatis cumque totam. Qui vitae neque,
                                            perferendis
                                            iure
                                            dolorum quos
                                            numquam earum blanditiis exercitationem sunt recusandae in. Odit similique a
                                            consequatur?</p>
                                        <p class="card-text"><small class="text-muted">Precio $20000</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div id="arbusto3">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'app/P1Img/A3.jpg' %}" class="img-fluid rounded-start"
                                        alt="Arbusto 3">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Arbusto 3</h3>
                                        <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit.
                                            Possimus, reiciendis deserunt!
                                            Magni magnam similique ex nobis debitis autem obcaecati quaerat sapiente?
                                            Veritatis
                                            saepe nam
                                            exercitationem aliquid? Commodi dolores tempora natus facere soluta eum
                                            quisquam
                                            unde
                                            iste
                                            obcaecati, ullam modi in. Enim quam numquam omnis nam minus sequi pariatur
                                            laboriosam?
                                            Doloribus
                                            nemo obcaecati totam soluta. Atque, officia ipsa nesciunt in corporis
                                            exercitationem
                                            dolorum
                                            accusantium explicabo ea autem repellendus earum vero qui dolor nostrum
                                            aperiam
                                            saepe
                                            provident
                                            quaerat esse nam, expedita veritatis cumque totam. Qui vitae neque,
                                            perferendis
                                            iure
                                            dolorum quos
                                            numquam earum blanditiis exercitationem sunt recusandae in. Odit similique a
                                            consequatur?</p>
                                        <p class="card-text"><small class="text-muted">Precio $20000</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div id="arbusto4">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'app/P1Img/A4.jpg' %}" class="img-fluid rounded-start"
                                        alt="Arbusto 4">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Arbusto 4</h3>
                                        <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit.
                                            Possimus, reiciendis deserunt!
                                            Magni magnam similique ex nobis debitis autem obcaecati quaerat sapiente?
                                            Veritatis
                                            saepe nam
                                            exercitationem aliquid? Commodi dolores tempora natus facere soluta eum
                                            quisquam
                                            unde
                                            iste
                                            obcaecati, ullam modi in. Enim quam numquam omnis nam minus sequi pariatur
                                            laboriosam?
                                            Doloribus
                                            nemo obcaecati totam soluta. Atque, officia ipsa nesciunt in corporis
                                            exercitationem
                                            dolorum
                                            accusantium explicabo ea autem repellendus earum vero qui dolor nostrum
                                            aperiam
                                            saepe
                                            provident
                                            quaerat esse nam, expedita veritatis cumque totam. Qui vitae neque,
                                            perferendis
                                            iure
                                            dolorum quos
                                            numquam earum blanditiis exercitationem sunt recusandae in. Odit similique a
                                            consequatur?</p>
                                        <p class="card-text"><small class="text-muted">Precio $20000</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div><br>

        <!-- FLORES ################################################################################-->
        <div class="flores">
            <a name="flores"></a>

            <div class="row">
                <div class="col-md-6">
                    <div id="flor1">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'app/P1Img/F1.jpg' %}" class="img-fluid rounded-start"
                                        alt="Flor 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Flor 1</h3>
                                        <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit.
                                            Possimus, reiciendis deserunt!
                                            Magni magnam similique ex nobis debitis autem obcaecati quaerat sapiente?
                                            Veritatis
                                            saepe nam
                                            exercitationem aliquid? Commodi dolores tempora natus facere soluta eum
                                            quisquam
                                            unde
                                            iste
                                            obcaecati, ullam modi in. Enim quam numquam omnis nam minus sequi pariatur
                                            laboriosam?
                                            Doloribus
                                            nemo obcaecati totam soluta. Atque, officia ipsa nesciunt in corporis
                                            exercitationem
                                            dolorum
                                            accusantium explicabo ea autem repellendus earum vero qui dolor nostrum
                                            aperiam
                                            saepe
                                            provident
                                            quaerat esse nam, expedita veritatis cumque totam. Qui vitae neque,
                                            perferendis
                                            iure
                                            dolorum quos
                                            numquam earum blanditiis exercitationem sunt recusandae in. Odit similique a
                                            consequatur?</p>
                                        <p class="card-text"><small class="text-muted">Precio $20000</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div id="flor2">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'app/P1Img/F2.jpg' %}" class="img-fluid rounded-start"
                                        alt="Flor 2">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Flor 2</h3>
                                        <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit.
                                            Possimus, reiciendis deserunt!
                                            Magni magnam similique ex nobis debitis autem obcaecati quaerat sapiente?
                                            Veritatis
                                            saepe nam
                                            exercitationem aliquid? Commodi dolores tempora natus facere soluta eum
                                            quisquam
                                            unde
                                            iste
                                            obcaecati, ullam modi in. Enim quam numquam omnis nam minus sequi pariatur
                                            laboriosam?
                                            Doloribus
                                            nemo obcaecati totam soluta. Atque, officia ipsa nesciunt in corporis
                                            exercitationem
                                            dolorum
                                            accusantium explicabo ea autem repellendus earum vero qui dolor nostrum
                                            aperiam
                                            saepe
                                            provident
                                            quaerat esse nam, expedita veritatis cumque totam. Qui vitae neque,
                                            perferendis
                                            iure
                                            dolorum quos
                                            numquam earum blanditiis exercitationem sunt recusandae in. Odit similique a
                                            consequatur?</p>
                                        <p class="card-text"><small class="text-muted">Precio $20000</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div id="flor3">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'app/P1Img/F3.jpg' %}" class="img-fluid rounded-start"
                                        alt="Flor 3">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Flor 3</h3>
                                        <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit.
                                            Possimus, reiciendis deserunt!
                                            Magni magnam similique ex nobis debitis autem obcaecati quaerat sapiente?
                                            Veritatis
                                            saepe nam
                                            exercitationem aliquid? Commodi dolores tempora natus facere soluta eum
                                            quisquam
                                            unde
                                            iste
                                            obcaecati, ullam modi in. Enim quam numquam omnis nam minus sequi pariatur
                                            laboriosam?
                                            Doloribus
                                            nemo obcaecati totam soluta. Atque, officia ipsa nesciunt in corporis
                                            exercitationem
                                            dolorum
                                            accusantium explicabo ea autem repellendus earum vero qui dolor nostrum
                                            aperiam
                                            saepe
                                            provident
                                            quaerat esse nam, expedita veritatis cumque totam. Qui vitae neque,
                                            perferendis
                                            iure
                                            dolorum quos
                                            numquam earum blanditiis exercitationem sunt recusandae in. Odit similique a
                                            consequatur?</p>
                                        <p class="card-text"><small class="text-muted">Precio $20000</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div id="flor4">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'app/P1Img/F4.jpg' %}" class="img-fluid rounded-start"
                                        alt="Flor 4">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Flor 4</h3>
                                        <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit.
                                            Possimus, reiciendis deserunt!
                                            Magni magnam similique ex nobis debitis autem obcaecati quaerat sapiente?
                                            Veritatis
                                            saepe nam
                                            exercitationem aliquid? Commodi dolores tempora natus facere soluta eum
                                            quisquam
                                            unde
                                            iste
                                            obcaecati, ullam modi in. Enim quam numquam omnis nam minus sequi pariatur
                                            laboriosam?
                                            Doloribus
                                            nemo obcaecati totam soluta. Atque, officia ipsa nesciunt in corporis
                                            exercitationem
                                            dolorum
                                            accusantium explicabo ea autem repellendus earum vero qui dolor nostrum
                                            aperiam
                                            saepe
                                            provident
                                            quaerat esse nam, expedita veritatis cumque totam. Qui vitae neque,
                                            perferendis
                                            iure
                                            dolorum quos
                                            numquam earum blanditiis exercitationem sunt recusandae in. Odit similique a
                                            consequatur?</p>
                                        <p class="card-text"><small class="text-muted">Precio $20000</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div><br>

        <!--MACETEROS ##############################################################################-->
        <div class="maceteros">
            <a name="maceteros"></a>

            <div class="row">
                <div class="col-md-6">
                    <div id="macetero1">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'app/P1Img/M1.jpg' %}" class="img-fluid rounded-start"
                                        alt="Macetero 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Macetero 1</h3>
                                        <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit.
                                            Possimus, reiciendis deserunt!
                                            Magni magnam similique ex nobis debitis autem obcaecati quaerat sapiente?
                                            Veritatis
                                            saepe nam
                                            exercitationem aliquid? Commodi dolores tempora natus facere soluta eum
                                            quisquam
                                            unde
                                            iste
                                            obcaecati, ullam modi in. Enim quam numquam omnis nam minus sequi pariatur
                                            laboriosam?
                                            Doloribus
                                            nemo obcaecati totam soluta. Atque, officia ipsa nesciunt in corporis
                                            exercitationem
                                            dolorum
                                            accusantium explicabo ea autem repellendus earum vero qui dolor nostrum
                                            aperiam
                                            saepe
                                            provident
                                            quaerat esse nam, expedita veritatis cumque totam. Qui vitae neque,
                                            perferendis
                                            iure
                                            dolorum quos
                                            numquam earum blanditiis exercitationem sunt recusandae in. Odit similique a
                                            consequatur?</p>
                                        <p class="card-text"><small class="text-muted">Precio $20000</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div id="macetero2">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'app/P1Img/M2.jpg' %}" class="img-fluid rounded-start"
                                        alt="Macetero 2">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Macetero 2</h3>
                                        <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit.
                                            Possimus, reiciendis deserunt!
                                            Magni magnam similique ex nobis debitis autem obcaecati quaerat sapiente?
                                            Veritatis
                                            saepe nam
                                            exercitationem aliquid? Commodi dolores tempora natus facere soluta eum
                                            quisquam
                                            unde
                                            iste
                                            obcaecati, ullam modi in. Enim quam numquam omnis nam minus sequi pariatur
                                            laboriosam?
                                            Doloribus
                                            nemo obcaecati totam soluta. Atque, officia ipsa nesciunt in corporis
                                            exercitationem
                                            dolorum
                                            accusantium explicabo ea autem repellendus earum vero qui dolor nostrum
                                            aperiam
                                            saepe
                                            provident
                                            quaerat esse nam, expedita veritatis cumque totam. Qui vitae neque,
                                            perferendis
                                            iure
                                            dolorum quos
                                            numquam earum blanditiis exercitationem sunt recusandae in. Odit similique a
                                            consequatur?</p>
                                        <p class="card-text"><small class="text-muted">Precio $20000</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div><br>

        <!-- TIERRAS ###############################################################################-->
        <div class="tierras">
            <a name="tierras"></a>

            <div class="row">
                <div class="col-md-6">
                    <div id="tierra1">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'app/P1Img/T1.jpg' %}" class="img-fluid rounded-start"
                                        alt="Tierra 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Tierra 1</h3>
                                        <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit.
                                            Possimus, reiciendis deserunt!
                                            Magni magnam similique ex nobis debitis autem obcaecati quaerat sapiente?
                                            Veritatis
                                            saepe nam
                                            exercitationem aliquid? Commodi dolores tempora natus facere soluta eum
                                            quisquam
                                            unde
                                            iste
                                            obcaecati, ullam modi in. Enim quam numquam omnis nam minus sequi pariatur
                                            laboriosam?
                                            Doloribus
                                            nemo obcaecati totam soluta. Atque, officia ipsa nesciunt in corporis
                                            exercitationem
                                            dolorum
                                            accusantium explicabo ea autem repellendus earum vero qui dolor nostrum
                                            aperiam
                                            saepe
                                            provident
                                            quaerat esse nam, expedita veritatis cumque totam. Qui vitae neque,
                                            perferendis
                                            iure
                                            dolorum quos
                                            numquam earum blanditiis exercitationem sunt recusandae in. Odit similique a
                                            consequatur?</p>
                                        <p class="card-text"><small class="text-muted">Precio $20000</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div id="tierra2">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static 'app/P1Img/T2.jpg' %}" class="img-fluid rounded-start"
                                        alt="Tierra 2">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">Tierra 2</h3>
                                        <p class="card-text">Descripción: Lorem ipsum dolor sit amet consectetur
                                            adipisicing
                                            elit.
                                            Possimus, reiciendis deserunt!
                                            Magni magnam similique ex nobis debitis autem obcaecati quaerat sapiente?
                                            Veritatis
                                            saepe nam
                                            exercitationem aliquid? Commodi dolores tempora natus facere soluta eum
                                            quisquam
                                            unde
                                            iste
                                            obcaecati, ullam modi in. Enim quam numquam omnis nam minus sequi pariatur
                                            laboriosam?
                                            Doloribus
                                            nemo obcaecati totam soluta. Atque, officia ipsa nesciunt in corporis
                                            exercitationem
                                            dolorum
                                            accusantium explicabo ea autem repellendus earum vero qui dolor nostrum
                                            aperiam
                                            saepe
                                            provident
                                            quaerat esse nam, expedita veritatis cumque totam. Qui vitae neque,
                                            perferendis
                                            iure
                                            dolorum quos
                                            numquam earum blanditiis exercitationem sunt recusandae in. Odit similique a
                                            consequatur?</p>
                                        <p class="card-text"><small class="text-muted">Precio $20000</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'home' %}">
                            <h2>Volver</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div><br>

    </div>

    <!-- SCRIPT JQUERY #########################################################################-->
    <script>
        window.onload = function () {
            $.get("https://productosjardineria-40e7b-default-rtdb.firebaseio.com/productos.json",
                function (data) {
                    //DATA CAPTURA LO QUE RETORNA LA API
                    //console.log(data)
                    const tablaPulenta = document.getElementById("tablaPulenta")
                    $.each(data, function (index, item) {
                        console.log(item.precio)
                        $(tablaPulenta).append("<tr><td>" + item.nombre +
                            "</td><td>" + item.precio +
                            "</td><td><img src='" + item.imagen + "'>" +
                            "</td></tr>")
                    })
                });
        };
    </script>
</body>

</html>