#banner {
    background-color: rgb(65, 150, 65);
    color: white;
    padding: 5%;
    margin-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
    background-image: url('../P1Img/BG1.jpg');
    background-attachment: scroll;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

#arbusto1,
#arbusto2,
#arbusto3,
#arbusto4,
#flor1,
#flor2,
#flor3,
#flor4,
#macetero1,
#macetero2,
#tierra1,
#tierra2 {
    background-color: rgb(255, 245, 230);
    color: black;
    opacity: 100%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 1%;
    padding: 3%;
    box-sizing: border-box;
    float: center;
    background-image: url('../P1Img/WP3.jpg');
    background-attachment: scroll;
}

img {
    width: 75%;
    height: auto;
    border-radius: 3%;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(220, 255, 200);
    background-image: url('../P1Img/Jardin1.jpg');
    background-attachment: fixed;
    font-family: sans-serif;
}