/*#banner {
    background-color: rgb(65, 150, 65);
    color: white;
    padding: 5%;
    margin-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
    background-image: url('../P1Img/BG1.jpg');
    background-attachment: scroll;
}*/

/* WRAPPER o BANNER ########################## */
#wrapper {
    background-color: rgb(65, 150, 65);
    width: 100%;
    height: auto;
    padding: 2%;
    margin-bottom: 50px;
    box-sizing: border-box;
    background-image: url('../P1Img/BG1.jpg');
    background-attachment: scroll;
}

#wrapper .navbar-brand {
    color: rgb(216, 154, 20);
    font-size: 30px;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 3%;
}

#wrapper .dropdown-menu {
    background-color: rgb(15, 60, 40);
}

#wrapper nav ul li {
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    list-style: none;
    padding-left: 3%;
    padding-right: 3%;
}

#wrapper nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#wrapper nav ul li a:hover {
    color: rgb(216, 154, 20);
    transition: 1s;
}

.navbar-brand img {
    width: 125px;
    height: 125px;
}

/*·······························································································*/

h1 {
    color: white;
}

h2 {
    text-align: center;
    text-decoration: none;
}

p {
    font-size: 15px;
}

#productos {
    margin-left: 2%;
    margin-right: 2%;
}

#arbusto1,
#arbusto2,
#arbusto3,
#arbusto4,
#flor1,
#flor2,
#flor3,
#flor4,
#macetero1,
#macetero2,
#tierra1,
#tierra2,
#prodasd {
    background-color: rgb(255, 245, 230);
    color: black;
    opacity: 100%;
    padding: 3%;
    box-sizing: border-box;
    background-image: url('../P1Img/WP3.jpg');
    background-attachment: scroll;
}

#api {
    background-color: rgb(255, 245, 230);
    color: black;
    padding: 3%;
    padding-bottom: 6%;
    margin-bottom: 50px;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
    background-image: url('../P1Img/WP3.jpg');
    background-attachment: scroll;
}

#tabla {
    background-color: rgb(255, 255, 255);
    padding: 3%;
}

img {
    width: 75%;
    height: auto;
    padding: 5%;
    box-sizing: border-box;
}

body {
    background-color: rgb(220, 255, 200);
    background-image: url('../P1Img/Jardin1.jpg');
    background-attachment: fixed;
    font-family: sans-serif;
}