/* MEDIDAS CARRUSEL ########################## */
#carrusel {
    width: 60%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 198, 110);
    box-sizing: border-box;
}

/* MEDIDAS IMGs ############################## */
#i0 img{
    width: 75%;
    height: auto;
    margin-bottom: 5%;
    box-sizing: border-box;
}

#i1 img{
    width: 75%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-style: solid;
    border-width: 5px;
    border-radius: 3%;
    border-color: rgb(255, 198, 110);
    box-sizing: border-box;
}

#i2 img{
    width: 75%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-style: solid;
    border-width: 5px;
    border-radius: 3%;
    border-color: rgb(255, 198, 110);
    box-sizing: border-box;
}

/* WRAPPER o BANNER ########################## */
#wrapper {
    background-color: rgb(65, 150, 65);
    width: 100%;
    height: auto;
    padding: 2%;
    box-sizing: border-box;
    background-image: url('../P1Img/BG1.jpg');
    background-attachment: scroll;
}

#wrapper .navbar-brand {
    color: rgb(216, 154, 20);
    font-size: 30px;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 1%;
}

#wrapper .dropdown-menu {
    background-color: rgb(15, 60, 40);
}

#wrapper nav ul li {
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    list-style: none;
    padding-left: 3%;
    padding-right: 3%;
}

#wrapper nav ul li a {
    color: rgb(255, 255, 255);
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#wrapper nav ul li a:hover {
    color: rgb(216, 154, 20);
    transition: 1s;
}

/* PRODUCTOS DESTACADOS ###################### */
#destacados {
    background-color: rgb(255, 245, 230);
    color: brown;
    opacity: 100%;
    font-size: 50px;
    font-weight: bold;
    padding: 2%;
    background-image: url('../P1Img/WP3.jpg');
    background-attachment: scroll;
}

/* MAIN/PRODUCTOS ############################ */
#main {
    display: flex;
    flex-wrap: wrap;
    background-color: #51302a;
    opacity: 100%;
    width: 100%;
    height: auto;
    padding: 4%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    float: center;
    background-image: url('../P1Img/WP1.jpg');
    background-attachment: scroll;
}

#main #menumain {
    color: white;
    font-size: 35px;
    font-weight: bold;
    width: 30%;
    height: auto;
    list-style: none;
}

#main #menumain ul li {
    width: 100%;
}

#main #tarjetas {
    background-color: rgb(255, 255, 255);
    width: 70%;
    min-width: 270px;
    height: auto;
    padding: 5%;
    border-radius: 1%;
    box-sizing: border-box;
    background-image: url('../P1Img/WP3.jpg');
    background-attachment: scroll;
}

#main nav ul li a {
    color: rgb(255, 255, 255);
    width: 150%;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5%;
}

#main nav ul li a:hover {
    color: rgb(216, 154, 20);
    transition: 1s;
}

/* NOSOTROS 1 ################################ */
#nosotros1 {
    background-color:rgb(255, 245, 230);
    color: brown;
    opacity:100%;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    height: auto;
    padding: 10%;
    box-sizing: border-box;
    background-image: url('../P1Img/WP2.jpg');
    background-attachment: fixed;
}

/* NOSOTROS 2 ################################ */
#nosotros2 {
    background-color:rgb(65, 150, 65);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: auto;
    padding: 3%;
    box-sizing: border-box;
    background-image: url('../P1Img/BG2.jpg');
    background-attachment: scroll;
}

#nosotros2 ul li {
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    list-style: none;
}

#nosotros2 ul li a {
    color: rgb(255, 255, 255);
    width: 150px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 5%;
}

#nosotros2 ul li a:hover {
    color: rgb(216, 154, 20);
    transition: 1s;
}

/* UNETENOS */
#unetenos {
    background-color: rgb(255, 245, 230);
    opacity: 100%;
    padding: 8%;
    background-image: url('../P1Img/WP3.jpg');
    background-attachment: scroll;
}

#unetenos a {
    color: brown;
    font-size: 75px;
    font-weight: bold;
    text-decoration: none;
}

#unetenos a:hover {
    color: rgb(255, 150, 28);
    transition: 1s;
}

/* BG Color y Font ########################### */
body {
    background-color: rgb(220, 255, 200);
    background-image: url('../P1Img/Jardin2.jpg');
    background-attachment: fixed;
    font-family: sans-serif;
    margin: 50px;
}