/* BANNER #################################### */
#banner {
    background-color: rgb(65, 150, 65);
    color: white;
    padding: 5%;
    margin-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
    background-image: url('../P1Img/BG1.jpg');
    background-attachment: scroll;
}

h1 {
    color: white;
}

/* FORMULARIO ################################ */
#formulario {
    background-color: #ffffff;
    opacity: 100%;
    padding: 4%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 50px;
    border-radius: 1%;
    box-sizing: border-box;
    background-image: url('../P1Img/WP3.jpg');
    background-attachment: scroll;
}

.container {
    background-color:#eeeeee;
    color: rgb(0, 150, 20);
    opacity:100%;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    height: auto;
    padding: 3%;
    margin: 1%;
    border-radius: 1%;
    box-sizing: border-box;
}

/* BG Color y Font ########################### */
body {
    background-color: rgb(220, 255, 200);
    background-image: url('../P1Img/Jardin4.jpg');
    background-attachment: fixed;
    font-family: sans-serif;
}